@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgba(43,43,43,1);
  --color-secondary: rgba(88,88,88,1);
  --color-tertiary: rgba(0,139,110,1);
  --color-button: rgba(0,42,62,1);

}

*{
  scroll-behavior: smooth;
}